* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --header-height: 37px;
}

html {
  scroll-padding-top: var(--header-height);
}

h1,
h2,
h3,
section {
  scroll-margin-top: calc(var(--header-height) + 10px);
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

header p {
  color: black;
}

header h1,
p {
  margin: 0;
  padding: 0 10px;
}

header h1 {
  color: #006aea;
}

header i {
  color: red !important;
}

header ul {
  list-style: none;
  gap: 50px;
  margin: 0;
  width: 100%;
}

header ul li a {
  text-align: center;
  text-decoration: none;
  color: #006aea !important;
}

header ul li {
  cursor: pointer;
  transition: all 0.3s ease;
}

header ul li:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.navbar {
  background-color: white !important;
}

.containerItemsNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 500px;
}

.hero {
  position: relative;
  height: 92.6vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(60%);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  gap: 20px;
}

.content button {
  background-color: #006aea;
  box-shadow: 0 0 12px #006aea;
  color: #fff;
  transition: 0.3s;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.content h1,
p {
  margin: 0;
}

.containerMainGoCity {
  background-color: #006aea;
  color: white;
  padding: 80px 0;
  gap: 20px;
}

.containerTextGo {
  gap: 20px;
}

.containerTextGo h2,
p {
  margin: 0;
}

.containerCard {
  background-color: #004daa;
  width: 450px;
  height: 200px;
  gap: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 12px #004daa;
}

.containerCard i {
  font-size: 30px;
  color: white;
}

.containerCard h3,
.containerCard p {
  margin: 0;
  color: white;
}

.containerButton a {
  background-color: white !important;
  color: #006aea !important;
}

.containerButton a:hover {
  background-color: #004daa !important;
  color: white !important;
  transition: all 0.3s ease;
}

.containerExperiencias {
  background-color: #e0e0e0;
  padding: 80px 0;
  gap: 50px;
}

.containerItemsDestinos {
  gap: 8px;
  width: 500px;
}

.containerItemsDestinos img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.containerItemsDestinos img {
  border-radius: 10px;
  width: 400px;
  height: 250px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.containerItemsDestinos h3,
.containerItemsDestinos p {
  margin: 0;
  color: black;
}

.btnDestinos a {
  text-decoration: none;
  color: white;
}

.btnDestinos {
  transition: all 0.3s ease;
}

.btnDestinos:hover {
  transition: all 0.3s ease;
  transform: scale(1.05);
}

.containerTextTests {
  gap: 10px;
}

.containerTextTests h2,
.containerTextTests p {
  margin: 0;
  color: black;
}

.containerSecOpiniones {
  gap: 30px;
  padding: 80px 0;
}

.containerColsOpiniones {
  gap: 50px;
}

.containerCardOpi {
  width: 350px;
  height: auto;
  padding: 10px 10px;
}

.containerCardOpi i {
  font-size: 30px;
  color: black;
}

.containerVidOpiniones {
  gap: 20px;
}

.containerVidOpiniones video {
  border-radius: 10px;
  height: 600px;
  width: 80%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.containerApp {
  background-color: #006aea;
  color: white;
  padding: 80px 0;
  gap: 30px;
}

.containerMainApp {
  gap: 30px;
}

.containerTextApp h3,
.containerTextApp p {
  margin: 0;
}

.containerTextApp {
  text-align: center;
  width: 50%;
  gap: 30px;
}

.containerIconsApp {
  gap: 30px;
  font-size: 30px;
}

.containerIconsApp a {
  color: white;
  transition: color 0.3s ease;
}

.containerMainForm {
  background-color: #e0e0e0;
  color: #006aea;
  padding: 80px 0;
}

.containerTextForm {
  gap: 25px;
}

.containerTextForm h2,
p {
  margin: 0;
}

.containerRowContact {
  padding: 40px 0;
}

.containerIconsContact,
.containerLinksApp {
  gap: 25px;
}

.containerIconMail,
.containerRedesSociales,
.containerAppDownload {
  gap: 5px;
}

.containerMail,
.containerGooglePlay,
.containerAppStore {
  text-decoration: none;
  gap: 10px;
}

.containerIconsContact a {
  text-decoration: none;
  gap: 5px;
}

.containerIconsContact i,
.containerAppDownload i,
.containerIconMail i {
  font-size: 25px;
  color: #006aea;
}

.containerFooter {
  background-color: #006aea;
  color: white;
  padding: 20px 0;
}

#btnTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: white;
  color: #006aea;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 22px;
  cursor: pointer;
  display: none;
  box-shadow: 0 0 10px #006aea;
  transition: all 0.3s ease;
  z-index: 999;
}

#btnTop:hover {
  background-color: #004daa;
  box-shadow: 0 0 12px #006aea;
  color: white;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.animate-on-scroll {
  opacity: 0;
}

.animate-on-scroll.animate__animated {
  opacity: 1;
}

/*Media Queries*/

@media (max-width: 360px) {
  :root {
    --header-height: 33px;
  }

  header {
    text-align: center;
  }

  header ul {
    list-style: none;
    gap: 20px;
    margin: 0;
    width: 100%;
  }

  .containerItemsNav {
    gap: 102px;
  }

  .collapse {
    margin-top: -90px;
  }

  .hero {
    position: relative;
    height: 90vh;
    overflow: hidden;
  }

  .containerTextGo {
    width: 90%;
    text-align: center;
    gap: 20px;
  }

  .containerRowCols {
    flex-direction: column;
    gap: 50px;
  }

  .containerTextExperiencias {
    width: 90%;
    text-align: center;
  }

  .containerRow {
    gap: 50px;
  }

  .containerItemsDestinos img {
    width: 400px;
    height: 220px;
  }

  .containerTextTests {
    width: 90%;
    text-align: center;
  }

  .containerCardOpi {
    width: 300px;
    height: auto;
    padding: 10px 10px;
  }

  .containerRowsOpiniones {
    gap: 50px;
  }

  .containerVidOpiniones video {
    border-radius: 10px;
    height: 400px;
    width: 95%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .containerTextApp {
    text-align: center;
    width: 90%;
    gap: 20px;
  }

  .containerRowContact {
    flex-direction: column;
    gap: 35px;
  }

  .containerRedesSociales {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .containerFooter {
    text-align: center;
    font-size: 16px;
  }

  .containerFooter p {
    width: 60%;
    font-size: 14px;
  }

  #btnTop {
    position: fixed;
    bottom: 20px;
    right: 10px;
    background-color: white;
    color: #006aea;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 22px;
    cursor: pointer;
    display: none;
    box-shadow: 0 0 10px #006aea;
    transition: all 0.3s ease;
    z-index: 999;
  }
}
