$background-primary-color: white;
$background-secondary-color: black;
$font-primary: "Poppins", sans-serif;
$font-color-primary: black;
$font-color-secondary: white;
$font-size-h1: 3rem;
$font-size-primary-p: 1.2rem;
$font-size-secondary-p: 1rem;
$padding-top-bottom: 35px 0px;
$effect-hover: scale(1.05);
$effect-trasition: all 0.3s ease;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}

:root {
  --header-height: 100px;
}

section {
  scroll-margin-top: calc(var(--header-height) + 0.5rem);
}

/*Inicio de Header*/

header {
  background-color: $background-primary-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header img {
  height: 50px;
  width: auto;
}

.navbar-nav {
  gap: 30px;
}

.navbar-nav li {
  transition: $effect-trasition;
}

.navbar-nav li:hover {
  transform: $effect-hover;
  transition: $effect-trasition;
}

/*Cierre de Header*/

/*Inicio de Banner Web*/
.backvideo {
  position: relative;
  width: 100%;
  height: 91.7vh;
  overflow: hidden;
}

.video-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  filter: brightness(50%);
}

.contenido-video {
  position: relative;
  z-index: 2;
  color: $font-color-secondary;
  text-align: center;
  padding: 20px;
}

.contenido-video h1 {
  font-size: $font-size-h1;
  margin-bottom: 10px;
}

.contenido-video p {
  font-size: $font-size-primary-p;
}

/*Cierre de Banner Web*/

/*Inicio de Categorías*/

.containerMainCats {
  padding: $padding-top-bottom;
}

.containerCategorías {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cat1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/catHombres.jpg);
}
.cat2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/catMujeres.jpg);
}
.cat3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/catNinos.jpg);
}

.containerCategorías a {
  color: $font-color-primary;
  text-decoration: none;
}

.btnStyle {
  padding: 15px 30px;
  background-color: white;
  cursor: pointer;
  border: 1px solid black;
  transition: $effect-trasition;
}

.btnStyle:hover {
  background-color: #e4e4e4;
  transform: $effect-hover;
  transition: $effect-trasition;
}

/*Cierre de Categorías*/

/*Inicio de Carousel*/

.carousel-inner {
  height: 91.7vh; /* ajustar según lo que quieras que mida el carrusel */
  width: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-inner img {
  filter: brightness(50%);
}

.carousel-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* hace que la imagen cubra el contenedor sin deformarse */
  object-position: center; /* centra la imagen dentro del contenedor */
}

/*Cierre de Carousel*/

/*Inicio de Footer*/

footer {
  background-color: $background-secondary-color;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
  color: $font-color-secondary;
  font-size: $font-size-secondary-p;
  background-color: $background-secondary-color;
}
